{% extends 'base.html' %}
{% block content %}

<head>
	<title>Nicked | URL Shortener</title>
</head>


<div class="container" id="homeContainer">
	<h1 class="text-center">Is Your Link Click-Worthy ?</h1>
	<h4 class="text-muted text-center">Why share long, ugly links when you can spice them up !</h4>
	
	<div class="form col-md-10">
		<form id="shortenerForm">
			<div class="form-row">
				<div class="form-group col-12 col-md-10">
					<input class="form-control" type="url" name="long_url" id="longUrl" required maxlength="2000" placeholder="Enter link to shorten" oninput="hideShortUrl()">
				</div>

				<div class="form-group col-12 col-md-2">
					<button class="form-control btn-warning" type="submit"><b>Shorten</b></button>
				</div>
			</div>
		</form>
		
		<div id="shortUrlDiv" style="position: relative; display: none">
			<input class="form-control col-12" type="url" name="short_url" id="shortUrl" disabled>
			<ul id="shortUrlActions" class="list-unstyled resultAction">
				<button class='btn btn-info' onclick="copyUrl()" id="copyUrlBtn">Copy</button>
				<a href="#" class='btn btn-info' id="goShortUrl" target="_blank">
					<i class="fa fa-external-link" aria-hidden="true"></i>
				</a>
			</ul>
		</div>
	</div>
</div>


{% endblock content %}